.main-container {
  position: relative;
  overflow-y: hidden;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 8rem;
}

app-logo-icon {
  position: absolute;
  bottom: -2rem;
  z-index: -1;
  height: 100vh;
}
